table {
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

.selected {
    background-color: darkblue;
}
.occupate{
    background-color: gray;
}
.red {
    background-color: red;
}

.blu {
    background-color: lightblue;
}
